#title {
    background-color:#E8EAE6;
    padding: 5rem 0;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 4rem;
    line-height: 1.5;
    color: #7C9473;
    text-align: center;
    margin-top: 100px
    
}
#navbar {
    background-color: #7C9473;
} 
.container-fluid{
    padding: 0% 0%;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif; 
    color: #CFDAC8 !important; 
    font-size: 2rem; 
    font-weight: bold;
    margin-left: 4rem;
    
}



.navbar {
    padding: 0 0 0.5rem 0;
}

.nav-item {
    padding: 0 18px; 
}


.navbar-link {
    color: #000; /
    text-decoration: none; /
    padding: 10px 15px; 
    transition: color 0.3s ease; 
}

.navbar-link:hover {
    color: #007BFF; 
}

.download-button {
    display: inline-block;
    padding: 10px 20px; 
    margin: 20px 60px; 
    background-color: #7C9473; 
    color: white; 
    text-decoration: none; 
    font-size: 20px; 
    border: none; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
}

.download-button:hover {
    background-color: #CDD0CB; 
}

.iphone-image {
    display: block;
    width: 50%; 
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-around; /
    flex-wrap: wrap; 
}

#features {
    padding: 20px; /
}

.feature-box {
    text-align: center;
    padding: 5%; 
}


.feature-box h3 {
    font-family: 'ubuntu', sans-serif; 
    font-weight: bold; 
}


.icon {
    margin-bottom: 1rem; 
    color: #7C9473; 
    transition: color 0.3s ease; 
}

.icon:hover {
    color: #CFDAC8; 
}

#testimonials{
    padding:7% 15%;
    text-align: center;
    background-color: #E8EAE6;
}

#testimonials h2 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 1.5rem; 
    font-weight: bold; 
    color: #7C9473; 
}
.testimonial-image {
    width: 300px; 
    border-radius: 50%; 
    margin-top: 20px; 
}

#testimonials em {
    font-style: italic; 
    display: block; 
    margin-top: 10px; 
}
.carousel-item {
    padding: 7% 3%;
}


#pricing {
    background-color: #white; 
    padding: 100px 0; 
    text-align: center; 
}

.card {
    margin-bottom: 30px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.card-header {
    background-color: #7C9473; 
    color: white; 
    padding: 10px; 
    font-family: 'ubuntu',sans-serif;
}

.card-body {
    padding: 20px; 
}

.card-body h2 {
    font-size: 2.5rem; 
    color: #7C9473; 
    margin-bottom: 20px; 
    font-family: 'ubuntu',sans-serif;
}

.card-body p {
    margin-bottom: 10px; 
}

.card-body button {
    background-color: #7C9473; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    margin-top: 20px; 
    cursor: pointer; 
}

.card-body button:hover {
    background-color: #E8EAE6; 
}
#pricing h2 {
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;
    font-size: 2.5rem; 
    color: #7C9473; 
    margin-bottom: 20px; 
}

#pricing p {
    font-family: 'Arial', sans-serif; /* Example font family */
    font-size: 1.2rem; /* Example font size */
    color: #666; /* Example text color */
    line-height: 1.5; /* Example line height */
    margin-bottom: 20px; 
}

@media (max-width: 1028px) {
    .title-image {
        position: static; 
        transform: rotate(0); 
    }
    #title {
        text-align: center; 
    }
}

#cta {
    background-color: #7C9473; 
    color: #fff; 
    padding: 7% 15%; 
    text-align: center; 
}

.cta-heading {
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold; 
    font-size: 2.5rem; 
    line-height: 1.5; 
}

#cta button {
    background-color: #E8EAE6;
    color: #7C9473; 
    border: none;
    display: inline-block;
    padding: 5px 20px; 
    margin: 10px 30px; 
    text-decoration: none; 
    font-size: 20px; 
    border: none; 
    border-radius: 5px; 
}